.piratesID {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-image: url("/assets/img/dark-wood.png"); */
    /* background-color: #ffed21; */
}

.pirate {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.divWanted {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

.wantedPirate {
    width: 450px;
    height: 590px;
    /* border: 2px solid black; */
    background-image: url("/assets/img/wanted.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 105px 15px;
    overflow: hidden;
    /* cursor: pointer; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    animation: fade-up 1.7s;
    transition: filter 200ms linear, ease-in-out .5s;
    color: rgb(242, 242, 242);
}
.wantedPirate::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: .8rem;
    border-color: #d0caa3e6 #d0caa3e6 #887c66 #887c66;
    transition: all 0.6s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: fade-up 1.7s;
}
@keyframes fade-up {
    0% {
        opacity: 1;
        border-width: 22rem;
    }
    100% {
        opacity: 1;
        border-width: .8rem;
    }
}

.imgPersoPirate {
    width: 370px;
    height: 270px;
    position: absolute;
    top: 19%;
    left: 9%;
}

.nameWantedPirate {
    position: absolute;
    top: 71%;
    left: 8%;
    font-size: 34px;
    font-weight: bold;
    font-family: Playfair;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 375px;
    height: 65px;
    /* border: 1px solid black; */
    text-align: center;
    color: #534328;
}

.bountyWantedPirate {
    position: absolute;
    top: 85%;
    left: 17%;
    font-size: 50px;
    font-weight: bold;
    font-family: Heart;
    color: #534328;
}

.divPersoDescLight {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* border: 2px solid red; */
    animation: fade-upBis 1.7s;
    transition: filter 200ms linear, ease-in-out .6s;
    border: 10px solid;
    border-image: repeating-linear-gradient(40deg, hsl(30, 50%, 15%), hsl(20, 50%, 30%), hsl(25, 40%, 20%) 8px) 60;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 50px;
}
.divPersoDescDark {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* border: 2px solid red; */
    animation: fade-upBis 1.7s;
    transition: filter 200ms linear, ease-in-out .6s;
    border: 10px solid;
    border-image: repeating-linear-gradient(40deg, hsl(36, 7%, 58%), hsl(18, 29%, 86%), hsl(0, 9%, 72%) 8px) 60;
    background-color: rgba(0, 0, 0, 0.408);
    padding: 50px;
}

@keyframes fade-upBis {
    0% {
        opacity: 0;
        transform: translateY(70px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    font-family: Playfair;
    
}

.nameStar {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    margin-bottom: 25px;
}

.star {
    cursor: pointer;
    stroke:#ff0;
    fill:transparent;
      stroke-width:10;
    .star {
      fill:transparent;
    }
    .starEX {
      transform: scale(0);
      transform-origin: 50% 50%;
      transform-box: border-box;
      fill:#ff0;
      opacity:1;
      transition:none;
    }
  }
  .starOn {
    .star {
      fill:#ff0;
      transition: fill .4s ease .2s;
    }
    .starEX {
      transform: scale(2);
      opacity:0;
      transition: transform, opacity;
        transition-duration: .6s, .4s;
        transition-delay: 0s, .2s;
    }
  }
  
  svg {
    overflow:visible;
    width:70px;
  }

.starDiv {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nameDescLight {
    font-size: 60px;
    font-weight: bold;
    font-family: Playfair;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.nameDescDark {
    font-size: 60px;
    font-weight: bold;
    font-family: Playfair;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bountyDescLight {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Heart;
    color: black;
}
.bountyDescDark {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Heart;
    color: white;
}

.berry{
    width: 50px;
}

.crewLight {
    font-size: 25px;
    font-family: Heart;
    color: dark;
}
.crewDark {
    font-size: 25px;
    font-family: Heart;
    color: white;
}

.demonLight {
    font-size: 25px;
    font-family: Heart;
    color: black;
}
.demonDark {
    font-size: 25px;
    font-family: Heart;
    color: white;
}
.jobLight {
    font-size: 25px;
    font-family: Heart;
    color: black
}
.jobDark {
    font-size: 25px;
    font-family: Heart;
    color: white
}

.gras {
    font-weight: bold;
    font-family: Playfair;
}

.scroll {
    width: 180px;
    height: 200px;
    background-image: url("/assets/img/scroll.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.moinsUn  {
    position: absolute;
    top: 4%;
    left: 40%;
    font-size: 37px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    width: 37px;
    height: 33px;
    background-color: rgb(127, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.counter {
    position: absolute;
    top: 33%;
    left: 44%;
    font-size: 45px;
}

.plusUn {
    position: absolute;
    top: 70%;
    left: 41%;
    font-size: 37px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    width: 37px;
    height: 33px;
    background-color: rgb(17, 17, 123);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.recrute {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 100px;
}

.nbrJours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.textJoursLight {
    font-family: Playfair;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
}
.textJoursDark {
    font-family: Playfair;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}

.parchment{
    width: 190px;
    height: 250px;
    background-image: url("/assets/img/parchment.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    rotate: 90deg;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.recrutez {
    rotate: -90deg;
    font-size: 30px;
    font-weight: bold;
    font-family: Playfair;
    width: 250px;
    height: 55px;
    /* border: 1px solid black; */
    text-align: center;
    color: black;
    /* transition: all ease-in-out 1s;
    animation: textanimate .7s alternate infinite;
    cursor: pointer; */
}

.parchment:hover .recrutez {
    transition: all ease-in-out 1s;
    animation: textanimate .7s alternate infinite;
    cursor: pointer;
}
@keyframes textanimate {
	0% {
		text-shadow: 0 0 0px rgba(155, 31, 31, 0);
	}

	100% {
		
        text-shadow: 0 0 5px rgb(123, 9, 9);
	}


}

/* footer */

    .footerHome {
        color: #534328;
        font-family: PlayfairBold;
        width: 102vw;
        display: flex;
        justify-content: center;
        align-items: start;
        /* background-color: rgb(20, 24, 19); */
        /* border: 2px solid black; */
        gap: 20px;
        margin: 0;
        background-image: url("/assets/img/scrollNav.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 10% 12%;
        border-top-left-radius: 250px 15px;
        border-bottom-left-radius: 20px 115px;
        border-bottom-right-radius: 105px 15px;
        box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .footDiv{
        width: 19%;
        /* height: 70%; */
        /* border: 2px solid blue; */
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
        gap: 10px;
    } 
  
  .footertitle {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .divFootImg {
    width: 100%;
    height: 60%;
  }
  
  .divFootImg img {
    width: 175px;
    height: 130px;
  }
  
  /* end footer */

  /* modal login */

.modalPseudo {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-contentPseudo {
    width: 65%;
    height: 80%;
    /* background-color: rgb(28, 26, 29); */
    position: absolute;
    top: 13%;
    left: 18%;
    border-radius: 10px;
    /* border: 5px solid rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: url("/assets/img/modalScroll.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .texteModalPseudo {
    font-size: 22px;
    color: #534328;
    font-weight: bold;
    font-family: Playfair;
    text-align: center;
    width: 30%;
  }

  .recrue {
    text-decoration: underline;
    color: red;
  }

  .bottleModal {
    width: 125px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    
  }

  .bottleModal img {
    width: 100%;
    height: 100%;
    
  }
  
  .btnModalPseudo {
    font-size: 23px;
    font-weight: bold;
    font-family: Playfair;
    width: 250px;
    height: 55px;
    /* border: 1px solid black; */
    text-align: center;
    color: black;
    transition: all ease-in-out 1s;
    animation: textanimate .7s alternate infinite;
    cursor: pointer;
}

  
  
  /* end modal login */



/* Responsiveness  */

@media screen and (max-width: 1441px) {
    .pirate {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        /* border: 2px solid black; */
    }

    .divWanted {
        width: 50%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: start;
        margin-top: 65
        px;
        /* border: 2px solid blue; */
        /* margin-bottom: 100px; */
    }

    .wantedPirate {
        width: 320px;
        height: 430px;
        /* border: 2px solid black; */
        background-image: url("/assets/img/wanted.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        border-top-left-radius: 250px 15px;
        border-bottom-left-radius: 20px 115px;
        border-bottom-right-radius: 105px 15px;
        overflow: hidden;
        /* cursor: pointer; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        animation: fade-up 1.7s;
        transition: filter 200ms linear, ease-in-out .5s;
        color: rgb(242, 242, 242);
    }
    .wantedPirate::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        border-style: solid;
        border-width: .8rem;
        border-color: #d0caa3e6 #d0caa3e6 #887c66 #887c66;
        transition: all 0.6s;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        animation: fade-up 1.7s;
    }
    @keyframes fade-up {
        0% {
            opacity: 1;
            border-width: 22rem;
        }
        100% {
            opacity: 1;
            border-width: .8rem;
        }
    }
    
    .imgPersoPirate {
        width: 270px;
        height: 195px;
        position: absolute;
        top: 19%;
        left: 9%;
    }
    
    .nameWantedPirate {
        position: absolute;
        top: 71%;
        left: 3%;
        font-size: 25px;
        font-weight: bold;
        font-family: Playfair;
        display: flex;
        justify-content: center;
        align-items: start;
        width: 300px;
        height: 52px;
        /* border: 1px solid black; */
        text-align: center;
        color: #534328;
    }
    
    .bountyWantedPirate {
        position: absolute;
        top: 84%;
        left: 17%;
        font-size: 40px;
        font-weight: bold;
        font-family: Heart;
        color: #534328;
    }
    
    .divPersoDesc {
        width: 50%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        /* border: 2px solid red; */
        animation: fade-upBis 1.7s;
        transition: filter 200ms linear, ease-in-out .6s;
        margin-top: 65px;
        /* margin-bottom: 100px; */
    }
    
    @keyframes fade-upBis {
        0% {
            opacity: 0;
            transform: translateY(70px) scale(0.8);
        }
        100% {
            opacity: 1;
            transform: translateY(0px) scale(1);
        }
    }
    
    .desc {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 15px;
        font-family: Playfair;
        margin-bottom: 15px;
    }
    
    .nameStar {
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* border: 2px solid black; */
        margin-bottom: 10px;
    }
    
    .star {
        cursor: pointer;
        stroke:#ff0;
        fill:transparent;
          stroke-width:10;
        .star {
          fill:transparent;
        }
        .starEX {
          transform: scale(0);
          transform-origin: 50% 50%;
          transform-box: border-box;
          fill:#ff0;
          opacity:1;
          transition:none;
        }
      }
      .starOn {
        .star {
          fill:#ff0;
          transition: fill .4s ease .2s;
        }
        .starEX {
          transform: scale(2);
          opacity:0;
          transition: transform, opacity;
            transition-duration: .6s, .4s;
            transition-delay: 0s, .2s;
        }
      }
      
      svg {
        overflow:visible;
        width:70px;
      }
    
    .starDiv {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .nameDescLight {
        font-size: 35px;
        font-weight: bold;
        font-family: Playfair;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }
    .nameDescDark {
        font-size: 35px;
        font-weight: bold;
        font-family: Playfair;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .bountyDescLight {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: Heart;
        color: black;
    }
    .bountyDescDark {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: Heart;
        color: white;
    }
    
    .berry{
        width: 30px;
        height: 30px;
    }
    
    .crewLight {
        font-size: 20px;
        font-family: Heart;
        color: dark;
    }
    .crewDark {
        font-size: 20px;
        font-family: Heart;
        color: white;
    }
    
    .demonLight {
        font-size: 20px;
        font-family: Heart;
        color: black;
    }
    .demonDark {
        font-size: 20px;
        font-family: Heart;
        color: white;
    }
    .jobLight {
        font-size: 20px;
        font-family: Heart;
        color: black
    }
    .jobDark {
        font-size: 20px;
        font-family: Heart;
        color: white
    }
    
    .gras {
        font-weight: bold;
        font-family: Playfair;
    }
    
    .scroll {
        width: 150px;
        height: 170px;
        background-image: url("/assets/img/scroll.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
    
    .moinsUn  {
        position: absolute;
        top: 4%;
        left: 40%;
        font-size: 37px;
        cursor: pointer;
        font-weight: bold;
        color: white;
        width: 37px;
        height: 33px;
        background-color: rgb(127, 15, 15);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }
    
    .counter {
        position: absolute;
        top: 33%;
        left: 44%;
        font-size: 45px;
    }
    
    .plusUn {
        position: absolute;
        top: 70%;
        left: 41%;
        font-size: 37px;
        cursor: pointer;
        font-weight: bold;
        color: white;
        width: 37px;
        height: 33px;
        background-color: rgb(17, 17, 123);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }
    
    .recrute {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 50%;
        gap: 100px;
    }
    
    .nbrJours {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    
    }
    
    .textJoursLight {
        font-family: Playfair;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
        color: black;
    }
    .textJoursDark {
        font-family: Playfair;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
        color: white;
    }
    
    .parchment{
        width: 190px;
        height: 250px;
        background-image: url("/assets/img/parchment.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        rotate: 90deg;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .recrutez {
        rotate: -90deg;
        font-size: 30px;
        font-weight: bold;
        font-family: Playfair;
        width: 250px;
        height: 55px;
        /* border: 1px solid black; */
        text-align: center;
        color: black;
        /* transition: all ease-in-out 1s;
        animation: textanimate .7s alternate infinite;
        cursor: pointer; */
    }
    
    .parchment:hover .recrutez {
        transition: all ease-in-out 1s;
        animation: textanimate .7s alternate infinite;
        cursor: pointer;
    }
    @keyframes textanimate {
        0% {
            text-shadow: 0 0 0px rgba(155, 31, 31, 0);
        }
    
        100% {
            
            text-shadow: 0 0 5px rgb(123, 9, 9);
        }
    
    
    }

    /* footer */

    .footerHome {
        color: #534328;
        font-family: PlayfairBold;
        width: 102vw;
        display: flex;
        justify-content: center;
        align-items: start;
        /* background-color: rgb(20, 24, 19); */
        /* border: 2px solid black; */
        gap: 50px;
        margin: 0;
        background-image: url("/assets/img/scrollNav.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 10% 12%;
        border-top-left-radius: 250px 15px;
        border-bottom-left-radius: 20px 115px;
        border-bottom-right-radius: 105px 15px;
        box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .footDiv{
        width: 19%;
        /* height: 70%; */
        /* border: 2px solid blue; */
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
        gap: 10px;
    } 
    
    .footertitle {
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .divFootImg {
        width: 100%;
        height: 60%;
    }
    
    .divFootImg img {
        width: 175px;
        height: 130px;
    }
    
    /* end footer */
        
  }



@media screen and (max-width: 1100px) {

    .pirate {
        flex-direction: column;
        width: 80%;
        align-items: start;
        gap: 20px;
    }

    .divWanted {
        width: 100%;
    }
    
    .divPersoDescLight {
        /* border: 2px solid white; */
        background-color: rgba(255, 255, 255, 0.13);
        align-items: center;
        width: 80%;
        justify-content: center;
        /* margin-left: 160px; */
        padding: 50px;
        border: 10px solid;
        border-image: repeating-linear-gradient(40deg, hsl(30, 50%, 15%), hsl(20, 50%, 30%), hsl(25, 40%, 20%) 8px) 60;
    }
    .divPersoDescDark {
        /* border: 2px solid white; */
        align-items: center;
        width: 80%;
        justify-content: center;
        /* margin-left: 160px; */
        padding: 50px;
        border: 10px solid;
        border-image: repeating-linear-gradient(40deg, hsl(36, 7%, 58%), hsl(18, 29%, 86%), hsl(0, 9%, 72%) 8px) 60;
        background-color: rgba(0, 0, 0, 0.408);
    }

}
