@font-face {
    font-family: Heart;
    src: url(/assets/fonts/Always\ in\ my\ Heart/Heart.ttf);
}
@font-face {
    font-family: Playfair;
    src: url(/assets/fonts/Playfair\ Display/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: PlayfairBlack;
    src: url(/assets/fonts/Playfair\ Display/PlayfairDisplay-Black.ttf);
}
@font-face {
    font-family: PlayfairBold;
    src: url(/assets/fonts/Playfair\ Display/PlayfairDisplay-Bold.ttf);
}

.lightBody {
    width: 100vw;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    background-image: url("/assets/img/dark-wood.png");
    /* background-color: #052429; */
    background-color: #e4b015;
    transition: ease-in-out .5s;
}
.darkBody {
    width: 100vw;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    background-image: url("/assets/img/dark-wood.png");
    background-color: #052429;
    /* background-color: #e4b015; */
    transition: ease-in-out .5s;
}
.lightBodyOverflow {
    width: 100vw;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    background-image: url("/assets/img/dark-wood.png");
    /* background-color: #052429; */
    background-color: #e4b015;
    transition: ease-in-out .5s;
}
.darkBodyOverflow {
    width: 100vw;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    background-image: url("/assets/img/dark-wood.png");
    background-color: #052429;
    /* background-color: #e4b015; */
    transition: ease-in-out .5s;
}


.divHome {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 80px;
}

/* .heroHome {
    width: 100vw;
    height: 100vh;
} */

.homeCarouselLight {
    width: 100%;
    border: 10px solid red;
    border-image: repeating-linear-gradient(40deg, hsl(30, 50%, 15%), hsl(20, 50%, 30%), hsl(25, 40%, 20%) 8px) 60;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-attachment: fixed;
    background-image: url("/assets/img/darkBeach.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.homeCarouselDark {
    width: 100%;
    /* height: 100%; */
    border: 10px solid red;
    border-image: repeating-linear-gradient(40deg, hsl(30, 50%, 15%), hsl(20, 50%, 30%), hsl(25, 40%, 20%) 8px) 60;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-attachment: fixed;
    background-image: url("/assets/img/glow1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.caroussel0 {
    width: 2000px;
    height: 450px;
    display: flex;
    /* overflow: hidden; */
    transition: 1s ease;
    transform: translateX(480px);
    /* gap: 30px; */
    /* background-color: brown; */
    /* border: 2px solid green;  */
    perspective: 1000px;
    transform-style: preserve-3d;
    
}
.caroussel1 {
    width: 2000px;
    height: 450px;
    display: flex;
    /* overflow: hidden; */
    transition: 1s ease;
    transform: translateX(240px);
    /* gap: 30px; */
    /* background-color: brown; */
    /* border: 2px solid green;  */
    perspective: 1000px;
    transform-style: preserve-3d;
}
.caroussel2 {
    width: 2000px;
    height: 450px;
    display: flex;
    /* overflow: hidden; */
    transition: 1s ease;
    transform: translateX(0px);
    /* gap: 30px; */
    /* background-color: brown; */
    /* border: 2px solid green;  */
    perspective: 1000px;
    transform-style: preserve-3d;
}
.caroussel3 {
    width: 2000px;
    height: 450px;
    display: flex;
    /* overflow: hidden; */
    transition: 1s ease;
    transform: translateX(-240px);
    /* gap: 30px; */
    /* background-color: brown; */
    /* border: 2px solid green;  */
    perspective: 1000px;
    transform-style: preserve-3d;
}
.caroussel4 {
    width: 2000px;
    height: 450px;
    display: flex;
    /* overflow: hidden; */
    transition: 1s ease;
    transform: translateX(-480px);
    /* gap: 30px; */
    /* background-color: brown; */
    /* border: 2px solid green;  */
    perspective: 1000px;
    transform-style: preserve-3d;
}


.container {
    /* border: 2px solid blue; */
    width: 1000px;
    height: 650px; 
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* perspective: 1000px;
    transform-style: preserve-3d; */
    
}

.slide {
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    background-image: url("/assets/img/wanted.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 105px 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    animation: fade-up 1.7s;
    transition: filter 200ms linear, ease-in-out .5s;

}

.slide::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: .8rem;
    border-color: #a29d7cea #a29d7cea #887c66 #887c66;
    transition: all 0.6s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: fade-up 1.7s;
    

}
.slide:hover::after {
    /* border-width: 22rem; */
    border-width: 3rem;
}

.imgPerso {
    width: 245px;
    height: 180px;
    position: absolute;
    top: 19%;
    left: 9%;
}


p {
    margin: 0;
}

.fleches {
    width: 25%;
    height: 60px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fleche {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.fleche:hover {
    color: white;
    background-color: black;
}

.nameWanted {
    position: absolute;
    top: 71%;
    left: 8%;
    font-size: 24px;
    font-weight: bold;
    font-family: Playfair;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 250px;
    height: 55px;
    /* border: 1px solid black; */
    text-align: center;
    color: #534328;
}

.wantedBestDisplay:hover .nameWanted {
    transition: all ease-in-out 1s;
    animation: textanimate .7s alternate infinite;
    cursor: pointer;
}
.slide:hover .nameWanted {
    transition: all ease-in-out 1s;
    animation: textanimate .7s alternate infinite;
    cursor: pointer;
}
@keyframes textanimate {
	0% {
		text-shadow: 0 0 0px rgba(155, 31, 31, 0);
	}

	100% {
		
        text-shadow: 0 0 5px rgb(123, 9, 9);
	}


}

.bountyWanted {
    position: absolute;
    top: 84%;
    left: 16%;
    font-size: 40px;
    font-weight: bold;
    font-family: Heart;
    color: #534328;
}

/* .mapping {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

} */
.mappingHall {
    width: 100%;
    /* height: 21%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* overflow-y: scroll; */
    /* background-image: url("/assets/img/dark-wood.png"); */
    /* background-color: #0a434d; */
}

.mappingHall:hover > .wantedWrapper:not(:hover) {
    filter: brightness(0.5) saturate(0) contrast(1.1) blur(1px);
}


.wantedWrapper {
    width: 300px;
    height: 400px;
    position: relative;

}

.wantedBest {
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    background-image: url("/assets/img/wanted.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 105px 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    /* animation: fade-up 1.7s;
    transition: filter 200ms linear, ease-in-out .5s; */
}
.wantedBestDisplay {
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    background-image: url("/assets/img/wanted.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 105px 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    animation: fade-up 1.7s;
    transition: filter 200ms linear, ease-in-out .5s;
}
.wantedBestDisplay::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: .8rem;
    /* background-image: url("/assets/img/dark-wood.png"); */
    border-color: #d0caa3e6 #d0caa3e6 #887c66 #887c66;
    transition: all 0.6s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: fade-up 1.7s;

}

.wantedBestDisplay:hover::after {
    /* border-width: 22rem; */
    border-width: 3rem;
}

.tearOff {
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    background-image: url("/assets/img/wanted.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 105px 15px;
    overflow: hidden;
    /* cursor: pointer; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    animation: fade-up .7s;
    transition: filter 200ms linear, ease-in-out .5s;

}
.tearOff::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: .8rem;
    border-color: #d0caa3e6 #d0caa3e6 #887c66 #887c66;
    transition: all 1.2s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.tearOff:hover::after {
    border-width: 22rem;
}

@keyframes fade-up {
    0% {
        opacity: 1;
        border-width: 22rem;
    }
    100% {
        opacity: 1;
        border-width: .8rem;
    }
}

.hallLight {
    font-size: 65px;
    font-family: PlayfairBold;
    color: black;
}
.hallDark {
    font-size: 65px;
    font-family: PlayfairBold;
    color: white;
}

/* footer */

.footerHome {
    color: #534328;
    font-family: PlayfairBold;
    /* width: 102vw; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    /* background-color: rgb(20, 24, 19); */
    /* border: 2px solid black; */
    gap: 60px;
    margin: 0;
    background-image: url("/assets/img/scrollNav.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 12%;
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 105px 15px;
    box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.footDiv{
    width: 200px;
    /* height: 70%; */
    /* border: 2px solid blue; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    gap: 10px;
  } 
  
  .footertitle {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .footerLink {
    font-size: 15px;
  }
  
  .divFootImg {
    width: 100%;
    height: 60%;
  }
  
  .divFootImg img {
    width: 175px;
    height: 130px;
  }
  
  /* end footer */

  /* .navRes {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/navRes.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
  } */

  /* début loader */


  .loading {
    /* background-color:#000000; */
    /* overflow:hidden; */
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* border-radius: 50%; */
    /* transition: ease-in-out .5s; */
  }
  .pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
  }
  
  .pl__arrows,
  .pl__ring-rotate,
  .pl__ring-stroke,
  .pl__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .pl__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
  }
  
  .pl__ring-rotate,
  .pl__ring-stroke {
    transform-origin: 80px 80px;
  }
  
  .pl__ring-rotate {
    animation-name: ringRotate42;
  }
  
  .pl__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
  }
  
  .pl__tick {
    animation-name: tick42;
  }
  
  .pl__tick:nth-child(2) {
    animation-delay: -1.75s;
  }
  
  .pl__tick:nth-child(3) {
    animation-delay: -1.5s;
  }
  
  .pl__tick:nth-child(4) {
    animation-delay: -1.25s;
  }
  
  .pl__tick:nth-child(5) {
    animation-delay: -1s;
  }
  
  .pl__tick:nth-child(6) {
    animation-delay: -0.75s;
  }
  
  .pl__tick:nth-child(7) {
    animation-delay: -0.5s;
  }
  
  .pl__tick:nth-child(8) {
    animation-delay: -0.25s;
  }
  
  /* Animations */
  @keyframes arrows42 {
    from {
      transform: rotate(45deg);
    }
  
    to {
      transform: rotate(405deg);
    }
  }
  
  @keyframes ringRotate42 {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(720deg);
    }
  }
  
  @keyframes ringStroke42 {
    from,
      to {
      stroke-dashoffset: 452;
      transform: rotate(-45deg);
    }
  
    50% {
      stroke-dashoffset: 169.5;
      transform: rotate(-180deg);
    }
  }
  
  @keyframes tick42 {
    from,
      3%,
      47%,
      to {
      stroke-dashoffset: -12;
    }
  
    14%,
      36% {
      stroke-dashoffset: 0;
    }
  }

  /* fin loader */

  /* page error */
  
  .errorDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .messageLight {
    font-size: 55px;
    color: black;
  }
  .messageDark {
    font-size: 55px;
    color: white;
  }

  .error{
    width: 40%;
    height: 70%;
    border-radius: 20px;
    background-image: url("/assets/img/sinkingShip.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .burgerMenuDiv {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 2px solid red; */
    position: absolute;
    top: 0px;
  }

  .burgerMenuBones {
    width: 65px;
    height: 65px;
    background-image: url("/assets/img/bones.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 70px;
  }

  .navRes {
    width: 0%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -50%;
    z-index: 2;
    background-image: url("/assets/img/dark-wood.png");
    background-color: #93d7dd;
    transition: ease-in-out .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  .navResActive {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0%;
    z-index: 2;
    background-image: url("/assets/img/dark-wood.png");
    background-color: #93d7dd;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navPagesBurger {
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* border: 2px solid red; */
  z-index: 2;
}

.hiddenLinksBurger {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* border: 2px solid red; */
  z-index: 2;
}

.pagesHome {
  text-decoration: none;
  text-align: center;
  color: #534328;
  font-size: 17px;
  font-weight: bold;
  font-family: Playfair;
  width: 20%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}


.pagesPirate {
  text-decoration: none;
  text-align: center;
  color: #534328;
  font-size: 17px;
  font-weight: bold;
  font-family: Playfair;
  width: 10%;
  height: 20%;
  /* border: 2px solid black; */
  
}
.pagesFavoris {
  text-decoration: none;
  text-align: center;
  color: #534328;
  font-size: 17px;
  font-weight: bold;
  font-family: Playfair;
  width: 40%;
  /* border: 2px solid black; */
  
}
.pagesMission {
  text-decoration: none;
  text-align: center;
  color: #534328;
  font-size: 17px;
  font-weight: bold;
  font-family: Playfair;
  width: 60%;
  /* border: 2px solid black; */
  
}
.pagesConnexion {
  text-decoration: none;
  text-align: center;
  color: #534328;
  font-size: 17px;
  font-weight: bold;
  font-family: Playfair;
  width: 30%;
  /* border: 2px solid black; */
  
}

.hiddenLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  width: 35%;
  gap: 20px;
}

.scrollPanierBurger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.scrollPanierActiveBurger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
}
.scrollPanierBurger:hover {
color: white;
}

#bottleBurger {
width: 35px;
height: 35px;
}

.scrollPanierBurger img {
  width: 25px;
  height: 25px;
}
.scrollPanierActiveBurger img {
  width: 25px;
  height: 25px;
}

 
@media screen and (max-width: 1300px) {


  #follow2 {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 700px) {

  .searchBar {
    width: 90%;
  }

  #follow {
    margin-bottom: 100px;
  }


  .caroussel0 {
    width: 2000px;
    height: 450px;
    display: flex;
    /* overflow: hidden; */
    transition: 1s ease;
    transform: translateX(590px);
    /* gap: 30px; */
    /* background-color: brown; */
    /* border: 2px solid green;  */
    perspective: 1000px;
    transform-style: preserve-3d;
    
  }
  .caroussel1 {
      width: 2000px;
      height: 450px;
      display: flex;
      /* overflow: hidden; */
      transition: 1s ease;
      transform: translateX(310px);
      /* gap: 30px; */
      /* background-color: brown; */
      /* border: 2px solid green;  */
      perspective: 1000px;
      transform-style: preserve-3d;
  }
  .caroussel2 {
      width: 2000px;
      height: 450px;
      display: flex;
      /* overflow: hidden; */
      transition: 1s ease;
      transform: translateX(0px);
      /* gap: 30px; */
      /* background-color: brown; */
      /* border: 2px solid green;  */
      perspective: 1000px;
      transform-style: preserve-3d;
  }
  .caroussel3 {
      width: 2000px;
      height: 450px;
      display: flex;
      /* overflow: hidden; */
      transition: 1s ease;
      transform: translateX(-310px);
      /* gap: 30px; */
      /* background-color: brown; */
      /* border: 2px solid green;  */
      perspective: 1000px;
      transform-style: preserve-3d;
  }
  .caroussel4 {
      width: 2000px;
      height: 450px;
      display: flex;
      /* overflow: hidden; */
      transition: 1s ease;
      transform: translateX(-590px);
      /* gap: 30px; */
      /* background-color: brown; */
      /* border: 2px solid green;  */
      perspective: 1000px;
      transform-style: preserve-3d;
  }

  .hallLight {
    font-size: 55px;
    font-family: PlayfairBold;
    color: black;
  }
  .hallDark {
      font-size: 55px;
      font-family: PlayfairBold;
      color: white;
  }
}

@media screen and (max-width: 600px) {
  #info {
    margin-top: 150px;
  }
}